[user]
	name = Shawn Ligocki
	email = sligocki@gmail.com
[push]
	default = simple
[color]
	ui = auto
[alias]
	b = branch
	ci = commit
	co = checkout
	st = status
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
